.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  align-items:flex-start;
  text-align: center; /* Horizontally center inline elements */
  flex-direction: column;
  align-content: space-between;
  height: 820px;
  
}

#icon{
  width:400px;
  position:relative;
  margin-top: 20px;
}
.MainName{
  position:relative;
  font-size: 100px;
  font-weight: bold;
  background: linear-gradient(to right, #6c6cff, #8383ad);
  -webkit-background-clip: text; /* Applies the gradient to the text */
  color: transparent;
  line-height: 1.2; /* Increase the line height to give extra space for descenders */
  padding-bottom: 5px; /* Adds space below the text */
  filter: drop-shadow(0 0 2em #646cffaa);
}
.blink-text{
  color:#6d6d6e;
  animation: blink 1s infinite;
  margin:0;
  position: relative;
}
.blink-text:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 1;
  }
  32% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  64% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#buttonCodeMode{
  margin-top: 30px; /* This centers the element horizontally */
  position: relative;
  width:100px;
  height:50px;
  transition: color 0.3s ease;
}




/* Стиль для анимации конфетти */
@keyframes confetti-animation {
  0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
  }
  100% {
      transform: translate(100px, 100px) scale(0);
      opacity: 0;
  }
}

/* Конфетти контейнер */
.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: green;
  animation: confetti-animation 1s forwards;
}

/* Стили для зеленого текста */
#buttonCodeMode.green-text {
  color: green;
}

/* Прячем конфетти по умолчанию */
#confetti-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 9999;
}

.GifCard{
  width: 100vw; /* Sets the width to 100% of the viewport width */
  height: 25vw; /* Example height */
  margin-bottom: 100px;
  overflow: hidden; /* Hide the part of the GIF that overflows */
  position: relative; /* Ensure the child elements position relative to this div */
}

.correct { color: green; }
.incorrect { color: red; }
.char { font-size: 24px; }

.number-container {
  align-items: center;
  justify-content: center;
  display: flex;
}

.digit {
  position: relative;
  font-size: 100px;
  color: white;
  font-weight: bold;
  overflow: hidden;
  width: 70px;
  height: 120px;
}

.digit span {
  width: 100%;
  text-align: center;
  animation: scroll 1s ease-in-out forwards;
}

@keyframes scroll {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.CorrectLettersText{
  font-size: 70px;
  margin-bottom: 0px;
}
.GifImg{
  width: 100%;  /* Ensure the GIF width fills the div */
  height: 100%; /* Ensure the GIF height fills the div */
  object-fit: cover; /* This ensures the GIF fills the div and cuts off excess parts */
}